@model crudelicious.Models.Dishes
<div class="row" style="margin-top: 25px">
    <a href="/">Home</a>
</div>
<div class="text-center">
    <h1>@Model.Name</h1> 
    <h3>@Model.Chef</h3>
    <hr>
    <h4>@Model.Description</h4>
    <br>
    <p>Calories: @Model.Calories</p>
    <p>Tastiness: @Model.Tastiness</p>
    <div class="row" style="margin-top: 40px">
        <div class="col">
            <a href="/delete/@Model.Id" class="btn btn-danger">Delete</a>
        </div>
        <div class="col">
            <a href="/edit/@Model.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>